# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.venv
env/
venv/
rag_venv/
rag_venv/*

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data
*.csv
chroma_langchain_db/
